@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Source+Sans+Pro&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #e4c44c;
  --secondary-color: #333533;
  --accent1-color: #ec4414;
  --accent2-color: #D6D6D6;

  /* change the values below to your chosen font(s) */
  --heading-font: "Philosopher";
  --paragraph-font: "Source Sans Pro", Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #e4c44c;  /* headlines on a white background */ 
  --headline-color-on-color: #333533; /* headlines on a colored background */ 
  --paragraph-color-on-white: #e4c44c; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #333533; /* paragraph text on a colored background */ 
  --paragraph-background-color: #e4c44c  ;
  --nav-link-color: #e4c44c;
  --nav-background-color: #333533;
  --nav-hover-link-color: #333533;
  --nav-hover-background-color: #e4c44c;
}

body {
    font-family: var(--paragraph-font);
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

h1, h2 {
    font-family: var(--heading-font);
    font-size: 3rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.collapsed {
    display: none;
}

nav {
    background-color: black;
    color: white;
    width: 100%;
}

nav .mobile {
    display: none;
}

nav .mobile .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

nav .mobile .header .more button{
    border: none;
    background-color: black;
    color: white;
    padding: 15px;
    cursor: pointer;
}

nav .logo-1 {
    min-width: 250px;
    /* width: 3rem; */

}

nav a  {
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 25px;

} 

nav a:hover {
    color: black;
    background-color: var(--primary-color);
}

nav .desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav .desktop .primary,
nav .desktop .secondary {
    display: flex;

}

nav .desktop .secondary.mini {
    display: none;

}

nav .articles-nav {
    background-color: var(--accent1-color);
}
nav .welcome-nav {
    background-color: var(--primary-color);
}

@media screen and (max-width: 900px){
    /* nav .logo{
        min-width: 100px;
    } */

    nav .secondary.full{
        display: none;
    }

    nav .secondary.mini{
        display: block !important;
    }

    nav .secondary.mini .submenu{
        background-color: black;
        position: absolute;
        display: none;
        width: 200px;
        right: 0;
    }
    nav .secondary.mini:hover .submenu{
        display: block;
    }
}

@media screen and (max-width: 700px){
    nav .logo{
        min-width: 65px;
    }
    nav .desktop {
        display: none;
    }
    nav .mobile {
        display: block;
    }
}

.icon {
    width: 2.5rem;
}
.logo {
    width: 3rem;
    padding: 0;
    margin: 0;
}
.banner-img {
    width: 100%;
    border-radius: 5px;

}
.img-latest {
    width: 400px;
}
.card-img {
    width: 100%;
}

.banner-grid {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 90%;
}

.banner-msg {
    /* width: 100%; */
    grid-column: 2/3;
}

.banner-box {
    grid-column: 2/3;
    grid-row: 2/3;  
}

.banner-paragraph {
    margin-bottom: 5rem;
}

.home-grid {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: repeat(4, 1fr);
}

.welcome-grid {
    display: grid;
    grid-template-columns: 10% 20% 40% 20% 10%;
    grid-template-rows: repeat(4, 1fr);
    background-color: var(--primary-color);

}

.welcome-grid h2 {
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: center;
}

.entry {
    background: white;
    margin: 4.7rem 2rem 0 2rem;
    border-radius: 5px;
}

.entry-paragraph {
    grid-column: 2/5;
    grid-row: 2/4;
    text-align: center;
}

.entry-paragraph-welcome {
    grid-column: 2/5;
    grid-row: 2/4;
    text-align: center;
}

.entry h2 {
    text-align: center;
    font-size: 2rem;
}

.button-box {
    grid-column: 3/4;
    grid-row: 4/5;
    text-align: center;
}

.banner-msg-welcome {
    grid-column: 2/3;
}
.banner-box-welcome {
    grid-column: 2/3;
    grid-row: 2/3; 
}

.banner-img-welcome {
    width: 100%;
    border-radius: 10px;
}

.card-img {
    grid-column: 2/3;
    grid-row: 1/5;
    border-radius: 5px;

}

.main-card {
    grid-column: 3/4;
    grid-row: 1/5;
    background-color: black;
    margin-left: 1rem;
    border-radius: 5px;
    background-color: var(--primary-color);
}



.banner-articles {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    
}
.banner-msg-articles {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/3;
    z-index: 1;
}

.banner-box-articles {
    width: 100%;
    height: 900px;
    overflow: hidden;
    grid-column: 2/3;
    grid-row: 1/3
}

.home-title-articles {
    font-size: 4rem;
    margin-top: 7rem;
}


.latest-articles-grid {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
}

.img-latest {
    grid-column: 2/3;
    width: 100%;
    height: 100%;
}

.side-info {
    grid-column: 3/4;
    text-align: center;
    background-color: var(--primary-color);
}

.side-info h2 {
    text-align: center;
    font-size: 2rem;
}



.next-articles {
    grid-column: 4/5;
    text-align: center;
    background-color: black;
    color: white;
}

.articles-links{
    text-decoration: none;
    color: white;
}
.articles-links-featured{
    text-decoration: none;
    color: black;
}
.articles-links:hover{
    color: var(--primary-color);
}
.articles-links-featured:hover{
    color: var(--primary-color);
}

.note-2 {
    padding: 5px;
}
.note-4 {
    padding: 5px;
}
.note-6 {
    padding: 5px;
}


.featured-notes-grid {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
}

.next-notes {
    grid-column: 2/3
}


footer{
    background-color: black;
    color: var(--accent2-color);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: var(--accent2-color);

}

.read-more {
    text-decoration: none;
    background-color: black;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 250px;
}

.read-more:hover,
.read-more:focus {
  opacity: .75;
}